form {
  align-items: left;
}

.NewBarberForm {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  background-color: #3c403d;
  border-radius: 6px;
  padding: 20px;
  box-shadow: inset 0 0 10px #000000;
  color: #daded4;
  justify-content: flex-start;
}

.enter_new_barber {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  margin-bottom: 20px;
  background-color: #daded4;
}

input[type='text'],
button {
  width: 85%;
  margin: auto auto 20px 0;
  height: 30px;
  background-color: #daded4;
  align-content: left;
}

input,
button,
select {
  border-radius: 10px;
}

.NewBarberForm button:active {
  background-color: #3c403d;
  color: #daded4;
}

.NewBarberForm,
label {
  margin-bottom: 10px;
  font-size: 16px;
}

.service__selection {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0;
  margin: auto;
  margin: 5px 0 20px 0;
}

.service__option {
  display: flex;
  flex-direction: row;
}

.Service__label {
  font-size: 12px;
  margin-bottom: 5px;
  text-align: left;
}

input[type='checkbox'] {
  transform: scale(1);
  margin: 3px 3px 0 0;
}

.select__field {
  width: initial;
  margin-bottom: 20px;
}

select {
  width: 500px;
  padding: 8px;
  background-color: #daded4;
}

button {
  width: 120px;
  border: solid 2px;
  border-color: #daded4;
}

.editButton {
  margin-top: 20px;
}

.BarberListItem__details a {
  margin-left: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  input {
    font-size: 16px;
    background: #daded4;
  }
}
