.BarberListItem__details {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  margin-bottom: 25px;
  filter: drop-shadow(0 0.1rem 0.2rem rgb(0, 0, 0));
  border: none;
  border-radius: 5px;
  background-color: #263938;
  padding: 20px;
  text-align: center;
  color: #fdeed2;

  /* align-items: center; */
}

.BarberListItem__description {
  padding-left: 0;
  margin-right: 0;
  text-align: right;
  list-style: none;
  overflow-wrap: break-word;
}

.BarberListItem__heading {
  margin: auto;
  margin-left: 0;
  text-align: left;
}

.BarberListItem__services {
  margin-top: 0px;
}
