.edit__barber__form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  background-color: #3c403d;
  border-radius: 6px;
  padding: 20px;
  box-shadow: inset 0 0 10px #000000;
  color: #daded4;
  justify-content: flex-start;
}

.barber_location {
  width: initial;
  margin-bottom: 20px;
  width: 88%;
  padding: 8px;
  background-color: #fdeed2;
}

.editField {
  display: flex;
  flex-direction: column;
  /* justify-content: left; */
  align-items: left;
  /* text-align: left; */
  /* align-self: left; */
  margin-left: 0;
}

.edit__barber__form label {
  align-items: left;
  align-self: left;
  justify-content: left;
  text-align: left;
}

.edit__barber__form input {
  margin-left: 0;
}

.edit__barber__form button[type='submit'] {
  margin-top: 15px;
  align-self: center;
}

.edit__form__back {
  align-items: right;
  margin-left: 0;
}
