.BarberListItem__details {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  margin-bottom: 25px;
  filter: drop-shadow(0 0.1rem 0.2rem rgb(0, 0, 0));
  border: none;
  border-radius: 5px;
  background-color: #3c403d;
  padding: 20px;
  text-align: left;
  color: #daded4;
}

.BarberListItem__description {
  padding-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
  text-align: right;
  list-style: none;
  overflow-wrap: break-word;
}

.BarberListItem__heading {
  margin: auto;
  margin-bottom: 10px;
}

.BarberListItem__services {
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.deleteButton {
  margin-left: 0px;
}

.Services__label {
  margin-bottom: 0px;
}
