.Landing__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  color: #3c403d;
}

.Landing__page h2 {
  text-align: center;
  margin-top: 100px;
}

.Landing__page h3 {
  text-align: center;
}

.Landing__page span {
  font-size: 150%;
}

.Landing__page h4 {
  margin: 30px auto;
  margin-bottom: 15px;
  text-align: center;
}
.get__started__links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: initial;
}

.get__started__links a {
  font-size: 70%;
  border: solid 1px;
  padding: 5px;
}

@media only screen and (min-device-width: 812px) and (min-device-height: 375px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .Landing__page h2 {
    margin: 10px;
  }

  .Landing__page h3 {
    font-size: 10px;
  }
}

@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {
  .Landing__page h2 {
    text-align: center;
    margin: 10px auto;
  }

  .Landing__page h3 {
    text-align: center;
    margin: 0 auto;
  }
  .get__started__links {
    justify-content: space-evenly;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .Landing__page h2 {
    margin: 200px auto 100px auto;
    display: flex;
    flex-direction: column;
    font-size: 200%;
  }

  .Landing__page h3 {
    font-size: 120%;
    margin-bottom: 100px;
  }

  .Landing__page span {
    font-size: 200%;
  }

  .Landing__page h4 {
    margin-bottom: 80px;
    text-align: center;
    font-size: 150%;
  }
  .get__started__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 100px 20px 100px;
    flex-wrap: initial;
  }

  .get__started__links a {
    font-size: 100%;
    border: solid 1px;
    padding: 10px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
