.search__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.select__services {
  display: flex;
  flex-direction: column;
}

.search__by__state {
  display: flex;
  flex-direction: column;
}

.search__by__state label {
  color: #3c403d;
  font-size: 14px;
}

label {
  font-size: 12px;
  text-align: center;
}

.state__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  background-color: #3c403d;
  color: #fdeed2;
  font-size: 12px;
  width: 120px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  input {
    font-size: 16px;
    background: #fdeed2;
  }
}
/* .service__dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  background-color: #263938;
  color: #fdeed2;
  font-size: 12px;
  width: 120px;
} */
