@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 110%;
  background-color: #fdf8f5;
  min-height: 100vh;
  margin: 5px;
  margin-bottom: 0px;
}
