.Section {
  display: flex;
  flex-direction: column;
}

.BarberListPage {
  align-items: center;
}

.BarberListItem__details {
  width: 250px;
  border: solid 1px;
  margin: 10px;
}

.BarberListItem__item {
  list-style-type: none;
}
