.title__nav {
  margin-left: 30px;
}

.app__header {
  margin-bottom: 10px;
}
.title__nav {
  color: #3c403d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
}

h1 {
  text-align: center;
  font-size: 200%;
  margin-top: 10px;
  filter: drop-shadow(0.1rem 0.1 rem 0.1rem rgb(0, 0, 0));
  letter-spacing: 2px;
  margin-bottom: 0;
}

.nav__header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav__links {
  display: flex;
  font-size: 12px;
  list-style: none;
  margin: 15px auto 15px auto;
  padding: 2px;
}

.nav__link {
  padding: 5px;
}

.route__link {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  font-size: 11px;
  width: auto;
  text-align: center;
  color: #3c403d;
  padding: 10px;
}

a {
  text-decoration: none;
  font-size: 12px;
  margin: auto;
}

.nav__links a:link,
.nav__links a:visited {
  text-decoration: none;
  color: #3c403d;
}

.nav__links a:active {
  background-color: #3c403d;
  color: #daded4;
}
/* a:active {
  color: #3c403d;
} */

@media (min-width: 568px) {
  a {
    font-size: 1rem;
  }
}
